<%- include('./partials/head') %>

<article>

  <div class="hover-container">
    <span class="hover-desktop">Hover me!</span>
    <span class="click-mobile">Click me!</span>
    <svg class="arrow" width="50" height="50" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35 262c125.529-121.062 293.006-54.715 326-46.482" stroke="#000" stroke-opacity=".9" stroke-width="16"
        stroke-linecap="round" stroke-linejoin="round" />
      <path d="M343.69 143c11.54 47.289 17.31 71.681 17.31 73.177 0 2.244-33.512 17.953-49 41.823" stroke="#000"
        stroke-opacity=".9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>

  <ul class="slide-container">
    <li><img class="profile-pic slide" src="/images/profile-pic.jpg" alt="profile picture"></li>
    <li><img class="profile-pic slide" src="/images/IMG_9764.JPG" alt="drawing"></li>
    <li><img class="profile-pic slide" src="/images/IMG_7559.jpg" alt="drawing"></li>
    <li><img class="profile-pic slide" src="/images/IMG_8433.jpg" alt="drawing"></li>
    <li><img class="profile-pic slide" src="/images/IMG_2194.JPG" alt="drawing"></li>
    <li><img class="profile-pic slide" src="/images/IMG_5083.JPG" alt="drawing"></li>
  </ul>

  <div class="header-background content">
    <h1><%= name %> <span class="name-light"> <%= prefix %> <%= surname%></span></h1>
    <p><i>Artist & Frontender in spé</i></p>
  </div>

  <p class="bio content"><%= bio %></p>

  <ul class="links content">
    <li>
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 21c3.5-3.6 7-6.824 7-10.8C19 6.224 15.866 3 12 3s-7 3.224-7 7.2 3.5 7.2 7 10.8Z" stroke="#000"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" stroke="#000" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      Landsmeer
    </li>
    <li>
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.074 2.994c.059-1.03.305-1.478 1.01-1.838.76-.387 1.957-.207 3.366.507.607.307.669.313 1.732.177 1.414-.181 3.234-.18 4.54.002.986.138 1.05.13 1.66-.177 2-1.013 3.578-.947 4.15.174.286.56.339 2.01.117 3.208-.122.664-.11.747.186 1.182 2.08 3.065.581 8.033-2.982 9.887a6.16 6.16 0 0 1-.69.3c-.575.22-.75.287-.538 1.298.102.486.224 1.695.272 2.686.087 1.792.086 1.805-.228 2.17-.428.498-1.045.506-1.462.02-.273-.317-.3-.466-.3-1.689 0-1.806-.197-3.006-.665-4.035-.557-1.224-.144-1.681 1.128-1.955 1.768-.38 3.15-1.471 3.92-3.096.731-1.545.841-3.68-.482-4.978-.376-.447-.402-.853-.134-2.074.1-.456.185-1.045.188-1.309.003-.416-.035-.479-.29-.479-.162 0-.78.236-1.373.523l-.947.459a.504.504 0 0 1-.277.047 30.339 30.339 0 0 0-7.114 0 .504.504 0 0 1-.279-.046l-.946-.46c-.593-.287-1.211-.523-1.373-.523-.374 0-.38.276-.039 1.916.209 1.001.349 1.224-.253 2.025-.902 1.2-1.127 2.69-.643 4.256.609 1.973 2.101 3.305 4.2 3.75 1.265.268 1.595.618 1.112 2.069-.38 1.14-.62 1.435-1.173 1.435-.743 0-1.209-.644-.953-1.318.113-.297.08-.329-.617-.582-2.126-.776-3.752-2.513-4.495-4.804-.575-1.77-.322-4.075.6-5.467.314-.475.318-.515.172-1.423a10.301 10.301 0 0 1-.1-1.838ZM3.332 15.945a1 1 0 0 0-1.664 1.11c.226.34.497.618.726.848l.124.123c.193.19.363.36.533.56.378.443.754 1.04.968 2.11.096.477.438.734.628.846.206.121.431.193.616.24.379.095.839.145 1.275.174.479.032.998.042 1.462.045a1 1 0 0 0 2 0v-1a1 1 0 0 0-1-1h-.304c-.587.002-1.352.004-2.026-.04a6.837 6.837 0 0 1-.788-.09c-.301-1.184-.788-1.972-1.308-2.582-.23-.27-.468-.506-.662-.698a30.47 30.47 0 0 1-.103-.103c-.224-.223-.37-.382-.477-.543Z"
          fill="#0F0F0F" />
      </svg>
      <a href="<% github_handle %>">Annevd</a>
    </li>
    <li>
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="m4 8.2 8 5.9 8-5.9" />
          <rect height="14" rx="2" ry="2" width="18" x="3" y="6.5" />
        </g>
      </svg>
      <a href="mailto:<% email %>">Email</a>
    </li>
    <li>
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M11.427 1.18a1 1 0 0 1 1.146 0l10 7A1 1 0 0 1 23 9v7a1 1 0 0 1-.427.82l-10 7a1 1 0 0 1-1.146 0l-10-7A1 1 0 0 1 1 16V9a1 1 0 0 1 .427-.82l10-7ZM3 10.92v3.16l2.256-1.58L3 10.92Zm4 2.8L3.744 16 11 21.08v-4.56l-4-2.8Zm6 2.8v4.56L20.256 16 17 13.72l-4 2.8Zm5.744-4.02L21 14.08v-3.16l-2.256 1.58ZM20.256 9 17 11.28l-4-2.8V3.92L20.256 9ZM11 3.92v4.56l-4 2.8L3.744 9 11 3.92Zm1 6.3L8.744 12.5 12 14.78l3.256-2.28L12 10.22Z"
          fill="#000" />
      </svg>
      <a href="https://codepen.io/Annevd">Annevd</a>
    </li>
  </ul>

    <svg class="insta" width="50" height="50" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <a href="https://www.instagram.com/xartisticanne?igsh=ZHAweG96MDVjZXc=" aria-label="Visit my instagram">
      <path
        d="M97.758 266.912c-5.073-16.554-2.682-33.993-4.818-50.928-1.818-14.4-5.165-91.958 6.422-103.44 20.665-20.479 174.265-31.8 195.924-3.182 15.729 20.779 12.847 61.524 12.847 85.935 0 26.366 6.171 67.093-14.454 87.528-31.033 30.753-142.877 27.86-184.681 17.506"
        stroke="#000" stroke-opacity=".9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M92.353 178.22c15.723-5.467 60.57 3.348 62.312-.322 4.392-9.255 15.66-28.558 43.251-33.859 19.372-3.722 48.217 0 57.505 18.96 45.602 93.089-50.803 120.493-78.332 105.706-24.354-13.081-22.424-30.79-22.424-44.635"
        stroke="#000" stroke-opacity=".9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M190.42 185.487c5.189-5.704 15.85-13.329 24.128-11.26 26.089 6.522 25.652 57.286-1.61 62.741-25.6 5.119-44.898-32.246-22.518-43.438M271.379 177.772c6.741-.932 28.455-.135 35.027-1.297M279.81 139.067v-1.724"
        stroke="#000" stroke-opacity=".9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round" />
        </a>
      </svg>

</article>

<%- include('./partials/foot') %>